@{
    ViewBag.Title = "Create";
}

<center>
    <div class="form">
        <form method="post" action="/Admin/AddArticle">
            <h2 id="createh2">News</h2>
            <div class="field-wrap">
                <input type="text" name="heading" placeholder="Heading" />
            </div>
            <div class="field-wrap">
                <input type="text" name="imageurl" id="dis_img" placeholder="Image URL" />
            </div>
            <div class="field-wrap">
                <input type="text" name="videourl" id="dis_vid" placeholder="Video URL" />
            </div>
            <div class="field-wrap">
                <input type="text" name="sourceurl" placeholder="Source URL" />
            </div>
            <div class="field-wrap">
                <textarea placeholder="Description" name="content"></textarea>
                <p style="color: white">Categories</p><select name="categories">
                    @foreach (news.Models.Category x in ViewBag.Categories)
                    {
                        <option value="@x.Name">@x.Name</option>
                    }
                </select>
            </div>
            <button type="submit" class="button button-block">Create</button>


        </form>
    </div>
</center>


@*<div>
    <a href="/Admin/Index">Back to List</a>
</div>*@