@model IEnumerable<news.Models.Article>

@{
    ViewBag.Title = "Dashboard";
}


<div class="container">

    <div class="row">

        @*Form for adding article*@
        <div class="col-xs-12 col-md-12 form">
            <center>
                <form method="post" action="/Admin/AddArticle">
                    <h2 id="createh2">News</h2>
                    <div class="field-wrap">
                        <input type="text" name="heading" placeholder="Heading" />
                    </div>
                    <div class="field-wrap">
                        <input type="text" name="imageurl" placeholder="Image URL" />
                    </div>
                    <div class="field-wrap">
                        <input type="text" name="videourl" placeholder="Video URL" />
                    </div>
                    <div class="field-wrap">
                        <input type="text" name="sourceurl" placeholder="Source URL" />
                    </div>
                    <div class="field-wrap">
                        <textarea placeholder="Description" name="content"></textarea>
                        <p style="color: white">Categories</p><select name="categories">
                            @foreach (news.Models.Category x in ViewBag.Categories)
                            {
                                <option value="@x.Name">@x.Name</option>
                            }
                        </select>
                    </div>
                    <button type="submit" class="button button-block">Create</button>

                </form>
            </center>
        </div>

        @*List of articles by user*@
        <div class="col-xs-12 col-md-12 form">
            <center>
                <h2 id="createh2">Delete news</h2>
                <hr />
                @foreach (var item in Model)
                 {
                    <div>
                        <h4 id="createh2">@item.Heading</h4>
                        <form method="post" action="/Admin/Delete">
                            <input name="articleIdDelete" type="hidden" value="@item.ArticleId" />
                            <button type="submit" class="btn btn-success">Delete</button>
                        </form>
                    </div>
                }
            </center>
        </div>
    </div>
</div>

<p>
    <a href="/Default/Index">Back to Articles</a>
</p>
