@model IEnumerable<news.Models.Article>

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div class="container">

    <div class="row">

        @*List of articles by user*@
        <div class="col-xs-12 col-md-6">
            <h2>Articles</h2>
            @foreach (var item in Model)
            {
                <div class="dashboard-article">
                    <h4>@item.Heading</h4>
                    <form method="post" action="/Admin/Delete">
                        <input name="articleIdDelete"type="hidden" value="@item.ArticleId"/>
                        <button type="submit">Delete</button>
                    </form>
                </div>
            }
        </div>

        @*Form for adding article*@
        <div class="col-xs-12 col-md-6">
            <h2>Create</h2>
            <form method="post" action="/Admin/AddArticle">
                <input type="text" placeholder="Heading" name="heading" />
                <input type="text" placeholder="Image URL" name="imageurl" />
                <input type="text" placeholder="Video URL" name="videourl" />
                <input type="text" placeholder="Source URL" name="sourceurl" />
                <select name="categories">
                    <option value="Sports">Sports</option>
                    <option value="Politics">Politics</option>
                    <option value="War">War</option>
                    <option value="Money">Money</option>
                    <option value="Others">Audi</option>
                </select>
                <textarea placeholder="Description" name="content"></textarea>
                <input type="submit" value="Save & Create" />
            </form>
        </div>
    </div>
</div>

<p>
    <a href="/Default/Index">Back to Articles</a>
</p>
