
@{
    ViewBag.Title = "Index";
}

<div class="container-narrow">
    <div class="container-narrow">
        <div class="row rowfix">
            <div class="col-sm-12 divnews">
                <h2><strong>Tekken X Street Fighter has been put on ice</strong></h2>
                <img src="http://static.feber.se/article_images/40/84/70/408470_980.jpg" class="picc">
                <div id="divtext">
                    <p>For a number of years ago , 2010 to be a little more precise, as announced both Capcom and Namco Bandai that they both had was his fighting going on where they mixed the Street Fighter characters in the Tekken characters . 2012 Capcom released the game Street Fighter X Tekken , which was a skilled brawler but not much more than that.</p>
                </div>
                <hr>
                <p class="tagme"> By Antonio Mirkovic 16-01-01</p>
            </div>
        </div>
        <div class="row rowfix">
            <div class="col-sm-12 divnews">
                <h2><strong>The new Audi R8 V10 Plus</strong></h2>
                <img src="http://static.feber.se/article_images/40/84/73/408473_1280.jpg" class="picc">
                <div id="divtext">
                    <p>2003, the entry-level model Lamborghini Gallardo and lived for a full ten years. All the time the model was improved and it was abnormally many special versions here and there . Components and technologies came from the last generation Audi S6 , Audi RS6 , the Audi S8 and the heart of the car was the 5.2 -liter V10 -ball is a proven powerhouse</p>
                </div>
                <hr>
                <p class="tagme"> By Antonio Mirkovic 16-01-01</p>
            </div>
        </div>
    </div>
</div>

