
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form action="Login" method="post">

    <input type="text" name="Username" placeholder="Username" value="" />
    <label for="Username">Username</label>
    <br />

    <input type="password" name="Password" placeholder="Password" value="" />
    <label for="Password">Password</label>
    <button type="submit">Login!</button>

</form>