
@{
    ViewBag.Title = "Login";
}
<p style="color:red; font-size:14px">@TempData["error"]</p>
<div class="form">

    <ul class="tab-group">
        <li class="tab active"><a href="#signup">Register</a></li>
        <li class="tab"><a href="#login">Log In</a></li>
    </ul>
    <center>
        <div class="tab-content">
            <div id="signup">
                <h1>Sign Up Now</h1>

                <form action="/User/RegisterUser" method="post">

                    <div class="field-wrap">
                        <div class="field-wrap">
                            <input type="text" name="registerUsername" required autocomplete="off" placeholder="username"/>
                        </div>

                    </div>
                    <div class="field-wrap">
                        <input type="email" name="registerEmail" required autocomplete="off" placeholder="email"/>
                    </div>

                    <div class="field-wrap">
                        <input type="password" name="registerPassword" required autocomplete="off" placeholder="password"/>
                    </div>

                    <button type="submit" class="button button-block">Register</button>

                </form>

            </div>

            <div id="login">
                <h1>Welcome Back!</h1>

                <form action="/User/Login" method="post">

                    <div class="field-wrap">
                        <input type="text" name="loginUsername" required autocomplete="off" placeholder="username"/>
                    </div>

                    <div class="field-wrap">
                        <input type="password" name="loginPassword" required autocomplete="off" placeholder="password"/>
                    </div>


                    <button type="submit" class="button button-block">Go!</button>

                </form>
            </div>
        </div><!-- tab-content -->
    </center>
</div> <!-- /form -->