
html, body {
    /*padding-top: 50px;*/
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #333;

}
.header {
    height: 100px;
    margin-top: 80px;

}
.wrap {
    min-height: 100%;
    position: relative;

}
.content { 
    padding-bottom: 50px;

}
.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    background: rgba(19, 35, 47, 0.9);
    border-color: rgb(95, 176, 228);
    border-radius: 0px;
    margin-bottom: 0px;
    z-index: 100;
    color: rgb(95, 176, 228);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container-narrow {
        margin: 0 auto;
        max-width: 800px;
			
}
.colornv{
	border: 2px solid;
	
}
body {
	background-color: #333;	
}

.rowfix {
	background-color: white;
	margin: auto;
	margin-bottom: 15px;
		
}
.divnews  {
	padding: 0;
}
.picc {
	width: 100%;
    height: 350px;
}
#divtext{
	font-family: 'Helvetica Neue', arial, sans-serif;
	padding: 15px;
	color:black;
}
div h2 {
	padding: 15px;
}
hr {
	margin: 0 auto;
    color: #888;
    
}
.tagme {
    font-family: inherit;
	padding: 15px;
    
}
.container-body {
    height: 90%;
    
}
#footertext {
text-align: center;
font-size: 18px;
}

#hej{
    color:grey;
}
#createh2 {
    color: white;
}
#source {
    color: rgb(95, 176, 228);
    padding: 15px;
    text-align: left;
    display: inline;

}
#category {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    display: inline;
    color: #888;
}
#usertag {
    color: #888;
}
.comments {
    padding: 0 0 0 15px;
    text-align: center;
}
#hrhr {
    margin: 10px;
}

.info-text{
    color:red;
    font-size:14px;
}
.pbreak {
    word-break: break-all;
}
