<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Newster AB</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/navbar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/login.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="header">
            <nav class="[ navbar navbar-invers navbar-fixed-top ][ navbar-bootsnipp animate ]" role="navigation">
        <div class="[ container ]">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="[ navbar-header ]">
                <button type="button" class="[ navbar-toggle ]" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="[ sr-only ]">Toggle navigation</span>
                    <span class="[ icon-bar ]"></span>
                    <span class="[ icon-bar ]"></span>
                    <span class="[ icon-bar ]"></span>
                </button>
                <div class="[ animbrand ]">
                    <img src="~/Content/img/logo.png" class="img-responsive" alt="Newster" id="loggo">
                    @*<a class="[ navbar-brand ][ animate ]" href="/Default/Index">Newster</a>*@
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="[ collapse navbar-collapse ]" id="bs-example-navbar-collapse-1">
                <ul class="[ nav navbar-nav navbar-right ]">
                    <li class="[ visible-xs ]">
                        <form action="" method="get" role="search">
                            <div class="[ input-group ]">
                                <input type="text" class="[ form-control ]" name="q" placeholder="Search here!">
                                <span class="[ input-group-btn ]">
                                    <button class="[ btn btn-primary ]" type="submit"><span class="[ glyphicon glyphicon-search ]"></span></button>
                                    <button class="[ btn btn-danger ]" type="reset"><span class="[ glyphicon glyphicon-remove ]"></span></button>
                                </span>
                            </div>
                        </form>
                    </li>
                    <li><a class="animate" href="~/Default/Login">Register/Login</a></li>
                    <li class="[ hidden-xs ]"><a href="#toggle-search" class="[ animate ]"><span class="[ glyphicon glyphicon-search ]"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="[ bootsnipp-search animate ]">
            <div class="[ container ]">
                <form action="/Default/Search" method="post" role="search">
                    <div class="[ input-group ]">
                        <input type="text" class="[ form-control ]" name="searchString" placeholder="Search and hit enter :D">
                        <span class="[ input-group-btn ]">
                            <button class="[ btn btn-danger ]" type="submit"><span class="[ glyphicon glyphicon-remove ]"></span></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </nav>
        </div>
        <div class="content">
            @RenderBody()
        </div>
        <div class="footer">
            <p id="footertext">&copy; @DateTime.Now.Year - Newster AB</p>
        </div>
    </div>

    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/login.js"></script>
</body>
</html>